body {
    font-family: 'Corbel';
    background-color: lightgray;
}

#gradient {
    height: 100%;
    width: 100%;
    background-color: lightgray;
    background-image: linear-gradient(#b1dbf7,rgb(97, 153, 216));
}

@font-face {
    font-family: 'Corbel';
    src: url("font/CORBEL.TTF");
}

h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
}

#add {
    background-color: white;
    margin: auto;
    width: 500px;
    height: 45px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

#produkts {
    margin: 5px;
    width: 250px;
    height: 40px;
    border: none;
    font-size: 20px;
}

#daudzums {
    margin: 5px;
    width: 125px;
    height: 40px;
    border: none;
    font-size: 20px;
}

#addButton {
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    border-radius: 25px;
    height: 35px;
    width: 40px;
}

.plus {
    justify-content: center;
    align-items: center;
}

#saraksts {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.pirkums {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 15px;
    height: 55px;
    width: 650px;
    padding: 15px;
    margin: 20px;
    background-color: white;
}

#pirkums-text {
    margin-right: 10px;
}